
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    An error has occured!!
                </div>
           </div>
        </div>
    </div>
</body>
</html>
